:root {
    --fs-9: 9px;
    ---fs-10: 10px;
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 20px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-32: 32px;
    --fs-44: 30px;
    --fs-48: 40px;
    /* ========color========= */
    --clr-white: #ffff;
    --clr-lightWhite: #FBFDFF;
    --clr-bodyBlue: #020D15;
    --clr-navBlue: #030D18;
    --clr-blue: #0389FF;
    --clr-ellipBlue: #1673FF;
    --clr-valueBlue: #0066FF;
    --clr-timeSaveBlue: #0389FF1A;
    --clr-borderGET: #FFFFFF1A;
    --clr-getInerBlue: #00000054;
    --clr-getOuterBlue: #0389FF1F;
}

.color-blue {
    color: var(--clr-blue);
}

.color-navBlue {
    background: var(--clr-navBlue);
}

.color-bodyBlue {
    background: var(--clr-bodyBlue);
}

.color-lightWhite {
    color: var(--clr-lightWhite);
}

.text-9 {
    font-size: var(--fs-9)
}

.text-10 {
    font-size: var(--fs-10);
}

.text-11 {
    font-size: var(--fs-11);
}

.text-12 {
    font-size: var(--fs-12);
}

.text-13 {
    font-size: var(--fs-13);
}

.text-14 {
    font-size: var(--fs-14);
}

.text-15 {
    font-size: var(--fs-15);
}

.text-16 {
    font-size: var(--fs-16);
}

.text-18 {
    font-size: var(--fs-18);
}

.text-20 {
    font-size: var(--fs-20);
}

.text-32 {
    font-size: var(--fs-32);
}

.text-44 {
    font-size: var(--fs-44);
}

.text-48 {
    font-size: var(--fs-48);
}

@media (min-width:576px) {
    :root {
        --fs-48: 48px;
        --fs-44: 44px;
        --fs-16: 16px;
    }
}

@media (min-width:992px) {
    :root {
        /* --fs-9: 9px; */
        /* ---fs-10: 10px; */
        /* --fs-11: 11px; */
        /* --fs-12: 12px; */
        /* --fs-13: 13px; */
        /* --fs-14: 14px; */
        /* --fs-15: 15px; */
        /* --fs-16: 16px; */
        /* --fs-18: 18px; */
        /* --fs-20: 20px; */
        /* --fs-32: 32px; */
        /* --fs-44: 44px; */
        /* --fs-48: 48px; */
    }
}