@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url(../css/root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff_jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* ===========font-weight====== */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* ==============line-height======== */

.lh-13 {
    line-height: 13px;
}

.lh-15 {
    line-height: 15px;
}

.lh-18 {
    line-height: 18px;
}

.lh-19 {
    line-height: 19px;
}

.lh-20 {
    line-height: 20px;
}

.lh-21 {
    line-height: 21px;
}

.lh-22 {
    line-height: 22px;
}

.lh-23 {
    line-height: 23px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-38 {
    line-height: 38px;
}

.lh-44 {
    line-height: 44px;
}

.lh-55 {
    line-height: 55px;
}


.opacity_70 {
    opacity: 70%;
}

.opacity_80 {
    opacity: 80%;
}

.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nav_container_1350 {
    max-width: 1350px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* =======hero======= */
.comn_btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    padding: 13px 32px;
    border-radius: 40px;
    border: 2px solid transparent;
}

.gap_51 {
    gap: 51px;
}

.cross span:nth-child(1) {
    transform: rotate(49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: 0px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: -22px;
}

.hero_bg {
    background-image: url(../images/png/hero-bg.png);
    background-size: cover;
    background-position: center;
}

.pt_81 {
    padding-top: 81px;
}

@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-navBlue);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: white;
        transition: all 300ms linear;
    }

}

@media (min-width:992px) {
    .max_w_524 {
        max-width: 524px;
    }

    .max_w_515 {
        max-width: 515px;
    }

    .lh-lg-60 {
        line-height: 60px;
    }
}