@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url(../css/root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff_jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.ff_pop {
    font-family: ' Poppins', sans-serif;
}

/* ===========font-weight====== */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* ==============line-height======== */

.lh-13 {
    line-height: 13px;
}

.lh-15 {
    line-height: 15px;
}

.lh-18 {
    line-height: 18px;
}

.lh-19 {
    line-height: 19px;
}

.lh-20 {
    line-height: 20px;
}

.lh-21 {
    line-height: 21px;
}

.lh-22 {
    line-height: 22px;
}

.lh-23 {
    line-height: 23px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-38 {
    line-height: 38px;
}

.lh-44 {
    line-height: 44px;
}

/* .lh-lg-55 {
    line-height: 55px;
} */
.opacity_50 {
    opacity: 50%;
}

.opacity_60 {
    opacity: 60%;
}

.opacity_70 {
    opacity: 70%;
}

.opacity_80 {
    opacity: 80%;
}

.opacity_90 {
    opacity: 90%;
}

.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nav_container_1350 {
    max-width: 1350px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* =======hero======= */
.h_70 {
    height: 70px;
}

.nav_links {
    position: relative;
}

.position_heroEllip {
    width: 299.33px;
    height: 303.66px;
    background: var(--clr-ellipBlue);
    opacity: 34%;
    filter: blur(85px);
    bottom: 28%;
    left: 22%;
}

/* .nav_links::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -2px;
    height: 1px;
    background: var(--clr-blue);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
}

.nav_links:hover::after {
    width: 100%;
}

.nav_links:hover {
    color: var(--clr-blue);
} */
.nav_links {
    --c: #0389FF;
    --s: .15em;
    line-height: 1.1em;
    padding-bottom: calc(2.1*var(--s));
    background:
        conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
        conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0) 0/var(--_p, 0%) padding-box no-repeat;
    transition: .5s;
}

.nav_links:hover {
    --_p: 100%;
    color: var(--c);
}

.comn_btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    padding: 11px 19px;
    border-radius: 40px;
    border: 3px solid transparent;
    transition: all 0.5s linear;
}

.comn_btn:hover {
    border: 3px solid var(--clr-blue);
    background: var(--clr-white);
    color: var(--clr-blue);
    box-shadow: 10px 10px 15px -5px var(--clr-white);
}

.gap_51 {
    gap: 51px;
}

.cross span:nth-child(1) {
    transform: rotate(49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: 0px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: -22px;
}

.blue_line {
    width: 109px;
    border: 1px solid #0389FF
}

.hero_bg {
    background-image: url(../images/png/hero-bg.png);
    background-size: 101% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pt_81 {
    padding-top: 81px;
}

/* ==============collebration_box========== */
.pb_19 {
    padding-bottom: 19px;
}

.py_29 {
    padding-top: 29px;
    padding-bottom: 29px;
}

.slideBox img {
    filter: grayscale(100%);
}

.slideBox:hover img {
    filter: unset;
}

/* ==============Compliance Security Trust================ */
.mb_28 {
    margin-bottom: 28px;
}

.max_w_213 {
    max-width: 213px;
}

/* ==============how can we help=========== */
.py_35_25 {
    padding-top: 35px;
    padding-bottom: 25px;
}

.max_w_370 {
    max-width: 370px;
}

.gap_22 {
    gap: 22px;
}

.row_gap_help {
    row-gap: 10px;
}

.position_help_ellip {
    top: -30%;
    opacity: 90%;
    z-index: -1;
}

.position_helpLeft_ellip {
    top: 12%;
    z-index: -1;
    filter: blur(92px);
}

.timeSaving_Iconbox {
    width: 64px;
    height: 64px;
    padding: 16px;
    border-radius: 8px;
    background: var(--clr-timeSaveBlue);
    display: none;
}

.timeSaving_box {
    background: var(--clr-timeSaveBlue);
    padding: 15px;
    max-width: 531px;
    border-radius: 10px;
    transition: all 300ms linear;
    margin-bottom: 10px;
}

.accordionHead {
    cursor: pointer;
}

.accordionpara {
    height: 0;
    overflow: hidden;
    transition: all 300ms linear;
}

.timeSaving_box.active .accordionpara {
    height: unset;
}

.timeSaving_box.active {
    padding: 5px 10px;
}

.timeSaving_box.active .accordionHead .timeSaving_Iconbox {
    display: block;
}

.timeSaving_box.active .accordionHead .content {
    color: var(--clr-blue);
}

/* ================== */
.gap_14 {
    gap: 14px;
}

.mb_20 {
    margin-bottom: 20px;
}

.bringValue_IconBox {
    width: 51.02px;
    height: 52.26px;
    padding: 13.69px 13.07px 13.69px 13.07px;
    border-radius: 26.13px;
    background: var(--clr-timeSaveBlue);
}

.bringValue_box {
    max-width: 400px;
    background: var(--clr-timeSaveBlue);
    padding: 13px 20px 13px 5px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.bringValue_center_ellip {
    width: 381.48px;
    height: 395.79px;
    opacity: 22%;
    background: var(--clr-valueBlue);
    filter: blur(100px);
}

.position_value_centerEllip {
    top: 21%;
    left: 27%;
}

.bringValue_rightEllip {
    top: -10%;
    opacity: 80%;
}

/* ===============testimonil_slider=========== */
.style_italic {
    font-style: italic;
}

.max_w_834 {
    max-width: 834px;
}

.py_23_27 {
    padding-top: 23px;
    padding-bottom: 27px;
}

.mb_10 {
    margin-bottom: 10px;
}

.slick-next:before {
    display: none;
}

.slick-prev:before {
    display: none;
}

.testimonil_slider_box {
    background: var(--clr-timeSaveBlue);
    padding: 20px;
    border-radius: 20px;
}

.slick-list {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

#testi-slider .slick-track {
    display: flex;
    gap: 24px;
}

.slick-dots {
    z-index: 9;
}

#testi-slider .slick-dots li.slick-active {
    background: var(--clr-blue);
    width: 53px;
    height: 10px;
}

#testi-slider .slick-dots li button:before {
    content: unset;
}

#testi-slider .slick-dots li {
    content: unset;
    width: 10px;
    height: 10px;
    background: white;
    color: white;
    margin: 7px;
    border-radius: 21px;
    transition: all 300ms linear;
}

#testi-slider .slick-dots {
    bottom: -40px;
}

#testi-slider .slick-slide:not(.slick-current) {
    opacity: 50%;
}

/* ==================secure-solution=========== */
.pb_131 {
    padding-bottom: 131px;
}

.position_soution_centerEllip {
    top: 0;
    left: 18%;
}

.secure_future_Rightellip {
    top: -43%;
    opacity: 99%;
    z-index: -1;
}

/* ================how-it-works=============== */
.ms_6 {
    margin-left: 6px;
}

.mb_10 {
    margin-bottom: 10px;
}

.smal_btn_modification {
    background: linear-gradient(99.45deg, #0389FF 0%, #0069E3 100%);
    max-width: 124px;
    border-radius: 45px;
    padding: 3px 15px;
    text-align: center;
}

/* ===============workkkkkkkkkkkkkkkkkkkkk */
.mx_w_126 {
    max-width: 126px;
}

.mb_59 {
    margin-bottom: 59px;
}

.mt_35 {
    margin-top: 35px;
}


.gap_6 {
    gap: 6px;
}

.gap_11 {
    gap: 11px;
}

.started_outer_box {
    background: var(--clr-getOuterBlue);
    padding: 23px 20px;
    max-width: 231px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.started_inner_box {
    border: 1px solid var(--clr-borderGET);
    max-width: 189px;
    border-radius: 22px;
    background: var(--clr-getInerBlue);
}

.padding_innerBox1 {
    padding: 20px 14px;
}

.padding_innerBox2 {
    padding: 12px 24px 20px 17px;
}

.padding_innerBox3 {
    padding: 12px 7px 6.6px 13.18px;
}

.border_doted {
    border: 1px dashed var(--clr-blue);
    border-radius: 5px;
    padding: 9px 7px;
}

.position_plusIcon {
    top: -15px;
    right: -23px;
}

.position-rightArrow {
    top: 50%;
    transform: translateY(-50%);
    left: 88%;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1.15em;
    height: 1.15em;
    border: 0.15px solid white;
    border-radius: 2px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: grid;
}

input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid #01172d;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

input[type="checkbox"]:checked {
    background: var(--clr-blue);
    border: transparent;
}

.checked_content_property {
    gap: 9px;
    display: flex;
    flex-direction: column;
}

.box_modification {
    padding: 3.3px 5.8px 2.9px 2.46px;
    border-radius: 4px;
}

.mx_w_88 {
    max-width: 88px;
}

.mx_w_115 {
    max-width: 115px;
}

.work_ellip {
    width: 362.39px;
    height: 338.57px;
    background: var(--clr-valueBlue);
    opacity: 30%;
    filter: blur(113px);
}

.position_work_ellip {
    top: 26%;
    right: 37%;
}

.work_row_gap {
    row-gap: 10px;
}

/* ==============Our Integrations================= */
.mb_20 {
    margin-bottom: 20px;
}

.py_45_0 {
    padding-top: 45px;
    padding-bottom: 0;
}

.padding_inte {
    padding-top: 17px;
    padding-bottom: 20px;
}

.Intergration_ellip {
    width: 416.22px;
    height: 405.43px;
    background: var(--clr-valueBlue);
}

.position_integration {
    top: 23%;
    left: 0;
    opacity: 18%;
    filter: blur(82px);
}

/* =============Accelerate Your Enterprise’s Document============== */
.py_60_22 {
    padding-top: 60px;
    padding-bottom: 22px;
}

.position_security {
    bottom: 23px;
    right: 0;
}

.max_w_507 {
    max-width: 507px;
}

.max_w_150 {
    max-width: 150px;
}

.position_AccelerateEllip {
    width: 381.48px;
    height: 395.79px;
    background: var(--clr-valueBlue);
    opacity: 30%;
    filter: blur(100px);
    top: 20%;
    right: 18%;
}

/* =================choose the plan best fits for you================= */
.gap_23 {
    gap: 23px;
}

.py_207_37 {
    padding-top: 207px;
    padding-bottom: 37px;
}

.pb_81 {
    padding-bottom: 81px;
}

.mb_87 {
    margin-bottom: 87px;
}

.mb_57 {
    margin-bottom: 57px;
}

.border_right {
    border-right: 1px solid var(--clr-borderGrey)
}

.choosePlan_x_line {
    border: 1px solid var(--clr-borderGrey);
    width: 100%;
    top: 37%;
}

.choose_btn {
    border: 1px solid var(--clr-lightwhite70);
    padding: 13px 32px;
    background: transparent;
    border-radius: 40px;
}

/* =========get-started-today========== */
.mb_46 {
    margin-bottom: 46px;
}

.py_123 {
    padding-top: 123px;
    padding-bottom: 123px;
}

.started_bg_img {
    background-image: url(../images/png/started-tody-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.max_w_618 {
    max-width: 618px;
}

.bg_transprant {
    background: transparent;
    border: 1px solid transparent;
    outline: none;
}

.input_modification {
    background: var(--clr-inputBg);
    border-radius: 29px;
    max-width: 520px;
    padding: 0 0px 0 33px;
}

/* =============footer============== */
.container_1310 {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.gap_10 {
    gap: 10px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_5 {
    margin-bottom: 5px;
}

.mb_19 {
    margin-bottom: 19px;
}

.mt_15 {
    margin-top: 15px;
}

.pt_110 {
    padding-top: 110px;
}

.ps_0 {
    padding-left: 0;
}

.footer_bg_color {
    background: var(--clr-timeSaveBlue);
}

.max_w_225 {
    max-width: 225px;
}

.footer_IconBox {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--clr-footerGry);
    /* padding: 6px 11px; */
}

.border_bottom {
    border-bottom: 1px solid #FBFDFF;
    opacity: 20%;
}


@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-navBlue);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: white;
        transition: all 300ms linear;
    }

    .max_w_645 {
        max-width: 645px;
    }

    .max_w_673 {
        max-width: 673px;
    }

    .justify_content_center {
        justify-content: center;
    }
}

@media (min-width:576px) {
    .lh-sm-55 {
        line-height: 55px;
    }

    .bringValue_box {
        padding: 13px 101px 13px 16px;
    }

    .testimonil_slider_box {
        padding: 27px 56px 42px 56px;
    }

    .timeSaving_box {
        padding: 23px;
    }

    .timeSaving_box.active {
        padding: 17px 59px 35px 15px;
    }

    .comn_btn {
        padding: 13px 32px;
    }

    .py_sm_35_55 {
        padding-top: 35px;
        padding-bottom: 55px;
    }

    .py_sm_50_90 {
        padding-top: 50px;
        padding-bottom: 90px;
    }

    .row_gap_help {
        row-gap: 0;
    }

    .work_row_gap {
        row-gap: 20px;
    }

    .mb_sm_20 {
        margin-bottom: 20px;
    }

    .started_outer_box {
        margin-bottom: 15px;
    }

    .padding_inte {
        padding-top: 22px;
        padding-bottom: 36px;
    }

    .integration_x_line {
        border-bottom: 1px solid var(--clr-borderGrey);
        width: 100%;
        top: 36%;
    }

    .integration_x_line2 {
        border-bottom: 1px solid var(--clr-borderGrey);
        width: 100%;
        top: 59%;
    }

    .integration_x_line3 {
        border-bottom: 1px solid var(--clr-borderGrey);
        width: 100%;
        top: 80%;
    }

    .py_sm_70_20 {
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .mb_lg_10 {
        margin-bottom: 10px;
    }

    .footer_row_gap {
        row-gap: 20px;
    }

    .mt_sm_30 {
        margin-top: 30px;
    }
}

@media (min-width:576px)and (max-width:768px) {
    .border_sm_right {
        border-right: 1px solid var(--clr-borderGrey);
    }
}

@media (min-width:768px) and (max-width:992px) {
    .border_md_right {
        border-right: 1px solid var(--clr-borderGrey);
    }
}

@media (min-width:768px) {
    .mb_md_44 {
        margin-bottom: 44px;
    }

    .mt_md_50 {
        margin-top: 50px;
    }

    .slick-list {
        padding: 0 20% 0 20% !important;
    }

    .py_md_70_95 {
        padding-top: 70px;
        padding-bottom: 95px;
    }

    .py_md_80_120 {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    #testi-slider .slick-dots {
        bottom: -70px;
    }

    .started_outer_box {
        margin-bottom: 20px;
    }

    .integration_x_line {
        top: 47%;
    }

    .integration_x_line2 {
        top: 75%;
    }

    .integration_x_line3 {
        display: none;
    }

    .padding_inte {
        padding-top: 58px;
        padding-bottom: 63px;
    }

    .mb_md_40 {
        margin-bottom: 40px;
    }

    .position_security {
        bottom: 17px;
    }

    .py_md_116_60 {
        padding-top: 116px;
        padding-bottom: 60px;
    }

    .ps_0 {
        padding-left: 2rem;
    }

    .mt_md_60 {
        margin-top: 60px;
    }
}

@media (min-width:992px) {
    .max_w_524 {
        max-width: 524px;
    }

    .max_w_525 {
        max-width: 525px;
    }

    .max_w_515 {
        max-width: 515px;
    }

    .max_w_474 {
        max-width: 474px;
    }

    .max_w_467 {
        max-width: 467px;
    }

    .lh-lg-60 {
        line-height: 60px;
    }

    .py_lg_102_177 {
        padding-top: 102px;
        padding-bottom: 177px;
    }

    .py_lg_89_109 {
        padding-top: 89px;
        padding-bottom: 109px;
    }

    .py_lg_130_172 {
        padding-top: 130px;
        padding-bottom: 172px;
    }

    .mb_lg_44 {
        margin-bottom: 44px;
    }

    .started_outer_box {
        margin-bottom: 25px;
    }

    .mt_lg_66 {
        margin-top: 66px;
    }

    .border_lg_right {
        border-right: 1px solid var(--clr-borderGrey);
    }

    .integration_x_line {
        top: 64%;
    }

    .integration_x_line2 {
        display: none;
    }

    .mb_lg_71 {
        margin-bottom: 71px;
    }

    .position_security {
        bottom: 23px;
    }

    .py_lg_174_121 {
        padding-top: 174px;
        padding-bottom: 121px;
    }

    .mt_lg_95 {
        margin-top: 95px;
    }

}

@media (min-width:1200px) {
    .mb_xl_36 {
        margin-bottom: 36px;
    }
}