@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url(../css/root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff_jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.ff_pop {
    font-family: ' Poppins', sans-serif;
}

/* ===========font-weight====== */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* ==============line-height======== */

.lh-13 {
    line-height: 13px;
}

.lh-15 {
    line-height: 15px;
}

.lh-18 {
    line-height: 18px;
}

.lh-19 {
    line-height: 19px;
}

.lh-20 {
    line-height: 20px;
}

.lh-21 {
    line-height: 21px;
}

.lh-22 {
    line-height: 22px;
}

.lh-23 {
    line-height: 23px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-38 {
    line-height: 38px;
}

.lh-44 {
    line-height: 44px;
}

/* .lh-lg-55 {
    line-height: 55px;
} */

.opacity_70 {
    opacity: 70%;
}

.opacity_80 {
    opacity: 80%;
}

.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nav_container_1350 {
    max-width: 1350px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* =======hero======= */
.h_70 {
    height: 70px;
}

.nav_links {
    position: relative;
}

.position_heroEllip {
    width: 299.33px;
    height: 303.66px;
    background: var(--clr-ellipBlue);
    opacity: 34%;
    filter: blur(85px);
    bottom: 28%;
    left: 22%;
}

/* .nav_links::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -2px;
    height: 1px;
    background: var(--clr-blue);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
}

.nav_links:hover::after {
    width: 100%;
}

.nav_links:hover {
    color: var(--clr-blue);
} */
.nav_links {
    --c: #0389FF;
    --s: .15em;
    line-height: 1.1em;
    padding-bottom: calc(2.1*var(--s));
    background:
        conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
        conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0) 0/var(--_p, 0%) padding-box no-repeat;
    transition: .5s;
}

.nav_links:hover {
    --_p: 100%;
    color: var(--c);
}

.comn_btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    padding: 11px 19px;
    border-radius: 40px;
    border: 3px solid transparent;
    transition: all 0.5s linear;
}

.comn_btn:hover {
    border: 3px solid var(--clr-blue);
    background: var(--clr-white);
    color: var(--clr-blue);
    box-shadow: 10px 10px 15px -5px var(--clr-white);
}

.gap_51 {
    gap: 51px;
}

.cross span:nth-child(1) {
    transform: rotate(49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: 0px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: -22px;
}

.blue_line {
    width: 109px;
    border: 1px solid #0389FF
}

.hero_bg {
    background-image: url(../images/png/hero-bg.png);
    background-size: 101% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pt_81 {
    padding-top: 81px;
}

/* ==============collebration_box========== */
.pb_19 {
    padding-bottom: 19px;
}

.py_29 {
    padding-top: 29px;
    padding-bottom: 29px;
}

.slideBox img {
    filter: grayscale(100%);
}

.slideBox:hover img {
    filter: unset;
}

/* ==============Compliance Security Trust================ */
.mb_28 {
    margin-bottom: 28px;
}

.max_w_213 {
    max-width: 213px;
}

/* ==============how can we help=========== */
.py_35_25 {
    padding-top: 35px;
    padding-bottom: 25px;
}

.max_w_370 {
    max-width: 370px;
}

.gap_22 {
    gap: 22px;
}

.row_gap_help {
    row-gap: 10px;
}

.position_help_ellip {
    top: -30%;
    opacity: 90%;
    z-index: -1;
}

.position_helpLeft_ellip {
    top: 12%;
    z-index: -1;
    filter: blur(92px);
}

.timeSaving_Iconbox {
    width: 64px;
    height: 64px;
    padding: 16px;
    border-radius: 8px;
    background: var(--clr-timeSaveBlue);
    display: none;
}

.timeSaving_box {
    background: var(--clr-timeSaveBlue);
    padding: 15px;
    max-width: 531px;
    border-radius: 10px;
    transition: all 300ms linear;
    margin-bottom: 10px;
}

.accordionHead {
    cursor: pointer;
}

.accordionpara {
    height: 0;
    overflow: hidden;
    transition: all 300ms linear;
}

.timeSaving_box.active .accordionpara {
    height: unset;
}

.timeSaving_box.active {
    padding: 5px 10px;
}

.timeSaving_box.active .accordionHead .timeSaving_Iconbox {
    display: block;
}

.timeSaving_box.active .accordionHead .content {
    color: var(--clr-blue);
}

/* ================== */
.gap_14 {
    gap: 14px;
}

.mb_20 {
    margin-bottom: 20px;
}

.bringValue_IconBox {
    width: 51.02px;
    height: 52.26px;
    padding: 13.69px 13.07px 13.69px 13.07px;
    border-radius: 26.13px;
    background: var(--clr-timeSaveBlue);
}

.bringValue_box {
    max-width: 400px;
    background: var(--clr-timeSaveBlue);
    padding: 13px 20px 13px 5px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.bringValue_center_ellip {
    width: 381.48px;
    height: 395.79px;
    opacity: 22%;
    background: var(--clr-valueBlue);
    filter: blur(100px);
}

.position_value_centerEllip {
    top: 21%;
    left: 27%;
}

.bringValue_rightEllip {
    top: -10%;
    opacity: 80%;
}

/* ==================secure-solution=========== */
.position_soution_centerEllip {
    top: 7%;
    left: 28%;
}

.secure_future_Rightellip {
    top: -80%;
}

/* ===============testimonil_slider=========== */

.style_italic {
    font-style: italic;
}

.max_w_834 {
    max-width: 834px;
}

.py_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.slick-next:before {
    display: none;
}

.slick-prev:before {
    display: none;
}

.testimonil_slider_box {
    background: var(--clr-timeSaveBlue);
    padding: 20px;
    border-radius: 20px;
}

.slick-list {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

#testi-slider .slick-track {
    display: flex;
    gap: 24px;
}

.slick-dots {
    z-index: 9;
}

#testi-slider .slick-dots li.slick-active {
    background: var(--clr-blue);
    width: 53px;
    height: 10px;
}

#testi-slider .slick-dots li button:before {
    content: unset;
}

#testi-slider .slick-dots li {
    content: unset;
    width: 10px;
    height: 10px;
    background: white;
    color: white;
    margin: 7px;
    border-radius: 21px;
    transition: all 300ms linear;
}


#testi-slider .slick-dots {
    bottom: -70px;
}

#testi-slider .slick-slide:not(.slick-current) {
    opacity: 50%;
}

/* ================how-it-works=============== */
.ms_6 {
    margin-left: 6px;
}

.mb_10 {
    margin-bottom: 10px;
}

.smal_btn_modification {
    background: linear-gradient(99.45deg, #0389FF 0%, #0069E3 100%);
    max-width: 124px;
    border-radius: 45px;
    padding: 3px 15px;
    text-align: center;
}


@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-navBlue);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: white;
        transition: all 300ms linear;
    }

    .max_w_645 {
        max-width: 645px;
    }

}

@media (min-width:576px) {
    .lh-sm-55 {
        line-height: 55px;
    }

    .bringValue_box {
        padding: 13px 101px 13px 16px;
    }

    .testimonil_slider_box {
        padding: 27px 56px 42px 56px;
    }

    .timeSaving_box {
        padding: 23px;
    }

    .timeSaving_box.active {
        padding: 17px 59px 35px 15px;
    }

    .comn_btn {
        padding: 13px 32px;
    }

    .py_sm_35_55 {
        padding-top: 35px;
        padding-bottom: 55px;
    }

    .row_gap_help {
        row-gap: 0;
    }
}

@media (min-width:768px) {
    .mb_md_44 {
        margin-bottom: 44px;
    }

    .slick-list {
        padding: 0 20% 0 20% !important;
    }

    .py_md_70_95 {
        padding-top: 70px;
        padding-bottom: 95px;
    }
}

@media (min-width:992px) {
    .max_w_524 {
        max-width: 524px;
    }

    .max_w_515 {
        max-width: 515px;
    }

    .max_w_474 {
        max-width: 474px;
    }

    .max_w_467 {
        max-width: 467px;
    }

    .lh-lg-60 {
        line-height: 60px;
    }

    .py_lg_102_177 {
        padding-top: 102px;
        padding-bottom: 177px;
    }

    .py_lg_89_109 {
        padding-top: 89px;
        padding-bottom: 109px;
    }


}